    <nav class="navbar bg-c2">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="img\otros\iconCCP.svg" alt="" width="30" height="40" style="margin: -5px; margin-right: 10px;" class="d-inline-block align-text-top">
             Centro Cultural De Petatlán
          </a>
        </div>
      </nav>
      <ul class="nav bg-c7">
        <li class="btn7"><a href="/admin"><span class="icon-user"><i class="bi bi-table"></i></span> Registros</a></li>
        <li class="btn7"><a href="admin/nuevoRegistro"><span class="icon-address-book"><i class="bi bi-file-earmark-plus"></i></span> Agregar Alumnos</a></li>
        <li class="btn7"><a href="/admin-setting"><span class="icon-user"><i class="bi bi-gear-wide-connected"></i></span> Configuración</a></li>
        <li class="btn7"><a href="/admin-mensajes"><span class="icon-home"><i class="bi bi-envelope"></i></span> Mensajes</a></li>
        <li class="btn7"><a href="/"><span class="icon-home"><i class="bi bi-door-open"></i></span> Salir de Administrador</a></li>
      </ul>