    <div align="center">
        <a href="/admin-setting-contactos" class="btn-nv btn btn2 bg-c2 mx-2"><i class="bi bi-chat-heart"></i> Contactos</a>  
        <a href="/datos-setting-Usuarios" class="btn-nv btn btn2 bg-c2 mx-2"><i class="bi bi-people"></i> Usuarios</a>
        <a href="#" class="btn-nv btn btn2 bg-c2 mx-2"><i class="bi bi-info-circle"></i> Ayuda</a>
        <a href="#" class="btn-nv btn btn2 bg-c2 mx-2"><i class="bi bi-newspaper"></i> Noticias</a>
      </div>