<nav class="navbar navbar-light bg-c4 mb-2">
    <div class="container-fluid">
      <a class="navbar-brand txt-c7" href="/enfermeria">
        <img >
        Centro Cultural de Petatlán - Enfermería
      </a>
    </div>
  </nav>
