
<div class="nav-seccion" align="center">
    <a href="/registros" class="btn-nv btn btn2 bg-c1">Ver Todos</a>  
    <a href="/registros-educacion_inicial" class="btn-nv btn btn2 bg-c1">Eduación Incial</a>
    <a href="/registros-preescolar" class="btn-nv btn btn2 bg-c1">Prescolar</a>
    <a href="/registros-primaria" class="btn-nv btn btn2 bg-c1">Primaria</a>
    <a href="/registros-secundaria" class="btn-nv btn btn2 bg-c1">Secundaria</a>  
  </div><br>