<%- include('../partials/head');%>
    <body>
        <section class="container mt-5 ">
            <h1 class="sbr-text">¿Qué Usuario eres?</h1>
            <div class="row mt-5">
                <article class="col-md-6">
                    <div class="userAdmin" align="center">
                        <a class="btn" href="/admin">
                            <div class="d-flex align-items-center contenedor-img bg-c7">
                                <img src="img/selectUser/adminUserBTN.svg" alt="">
                            </div>
                            <div class="userTextSelec">
                                <h3 class="txt-c2">Administración</h3>
                            </div>
                        </a>
                    </div>
                </article>
                <article class="col-md-6">
                    <div class="userEnfer" align="center">
                        <a class="btn" href="/enfermeria">
                            <div class="d-flex align-items-center contenedor-img bg-c7">
                                <img src="img/selectUser/enfermeriaBTN.svg"" alt="">
                            </div>
                            <div class="userTextSelec">
                                <h3 class="txt-c4">Enfermeria</h3>
                            </div>
                        </a>
                    </div>
                </article>
            </div>
                
                <!-- * USUARIO ADMINISTRACIÓN -->

        </section>
        </body>
    </html>