<%- include('../partials/head');%>
    <body>
        <h1 class="titles texto-centrado margin-top-grande">¿Qué Usuario eres?</h1>
        <div class="btnsUsers">
            <!-- * USUARIO ADMINISTRACIÓN -->
            <div class="btn-cards-users">
                <a id="#btnUser1" href="#">
                    <img class="imgusers" id="imgU1" src="img/selectUser/adminUserBTN.svg" alt="Imagen botón de administrador">
                    <span id="txtU1">Administrador</span>
                </a>
            </div>
            <!-- * USUARIO ENFERMERÍA -->
            <div class="btn-cards-users">
                <a id="btnUser2" href="#">
                    <img class="imgusers" id="imgU2" src="img/selectUser/enfermeriaBTN.svg" alt="Imagen botón de administrador">
                    <span id="txtU2">Enfermeria</span>
                </a>
            </div>
        </div>
    </body>
    </html>