<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Paágina no encontrada</title>
</head>
<body>
    
    <div class="error404">
        <div>
            <h1>Lo sentimos, la página no ha sido encontrada</h1>
            <hr>
            <p><b>OPPS!!</b>, la página que haz intentado buscar no existe, prueba de otro modo</p>
        </div>
        <div class="centrarDiv">
            <img class="imgError404" src="./img/otros/error404.png" alt="Imagen de error 404">
        </div>
        <div>
            <button onclick="history.back()" class="volver404 simple">Volver al sitio</button>
        </div>
    </div>

</body>
</html>