<%-include('./partials/head.ejs')%>
<body>
    <!--COMIENZO DE LOGIN-->
    <form action="/login" id="loginID" method="POST">
        <div class="login">
            <div>
                <label>Usuario</label><br>
                <input type="text" class="inputLogin" name="username" id="username">   
            </div>
            <div>
                <label>Contraseña</label> <br>
                <input type="password" class="inputLogin" name="password" id="password"><span class="verOcultar">Mostrar</span>
            </div>
            <input type="submit" va lue="Iniciar sesión">
        </div>
    </form>
    <!--FIN DE LOGIN-->
    
    <script src="./js/funciones.js"></script>
</body>
</html>