@import url('http://fonts.cdnfonts.com/css/berlin-sans-fb-demi');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

body {
    background: rgb(170, 224, 249);
    background: -moz-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
    -webkit-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}


/* ! Configuración de variables CSS*/

:root {
    /* CONFIGURACIÓN DE NAVBAR*/
    --navbarColorTuttor: #9292CD;
    /*Color de barra de navegación del tutor*/
    --navbarColorEnfermeria: #FF2B2B;
    /*Color de barra de navegación de Enfermeria*/
    --navbarColorAdmin: #0B0B8F;
    /*Color de barra de navegación de Administración*/
    /*CONFIGURACIÓN DE PALETAS DE COLORES*/
    --colorTutor: #9292CD;
    /*Color principal para tutores*/
    --colorEnfermeria: #FF2B2B;
    /*Color principal para Enfermeria*/
    --colorAdmin: #0B0B8F;
    /*Color principal para Administración*/
    --colorTextInput: rgb(63, 63, 63);
    /*CONFIGURACION DE ESTILOS Y TAMAÑOS DE LETRAS*/
    --fuenteNavbar: 'Berlin Sans FB Demi', sans-serif, Verdana, Geneva, Tahoma;
    /*Fuentes para navbars*/
    --fuenteTitulo: 'Berlin Sans FB Demi', sans-serif;;
    /*Fuente para Titulos*/
    --fuenteTexto: Arial, Verdana;
    /*Fuente para Textos*/
    --FuenteBtn: Arial, Verdana;
    --fontSizeNavbar: 1.5rem;
    /*Tamaño de letras para Navbar*/
    --fontSizeTitulos: 2.5rem;
    /*Tamaño de letras para Titulos*/
    --fontSizeSubtitulos: 1.5rem;
    /*Tamaño de letras para Subtitulos*/
    --fontSizeTexto: 1rem;
    /*Tamaño de letras para textos*/
    /*CONFIGURACION DE CARDS Y RECUADROS*/
    --fondoContainer: #FFF;
    /*Fondo para containers*/
    --bordesRedondos: 25px;
    /*Fondo redondeado para containers*/
    --sombra1: 0px 0px 18px 5px rgba(0, 0, 0, 0.301);
    /*Sombra para containers*/
    --sombra2: inset 0px 0px 18px 5px rgba(0, 0, 0, 0.123);
    /*Sombra para inputs*/
    --sombraText: rgba(0, 0, 0, 0.356) 0px 0px 5px; /*Sombra para texto*/
}


/* ! Fin de configuración de variables*/

/* *OTROS */

.texto-centrado{
    text-align: center;
}
.titles{
    color: white;
    font-family: var(--fontSizeTitulos);
    text-shadow: var(--sombraText);
}
.margin-top-grande{
    margin-top: 5%;
}

/* *FIN OTROS */

/* *Botones */

.simple{
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: var(--FuenteBtn);
    border: solid 1px #2d2d7a;
    color: #2d2d7a;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
.simple:hover{
    padding: 13px;
    background-color: #2d2d7a;
    color: white;
    box-shadow: var(--sombra1);
}

/* *Fin Botones */



/*
    ? Error 404
*/
.error404{
    font-family: var(--fuenteTitulo);
    text-align: center;
    margin-top: 50px;
}
.error404 h1{
    color: white;
    text-shadow: var(--sombraText);
}

.imgError404 {
    width: 60%;
    margin: auto;
    margin: 20px;

}
.volver404{
    display: block;
    margin-top: -150px !important;
    margin: auto;
}
.error404 hr{
    background-color: black;
    height: 1px;
    border:none;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*
    ? Fin Error 404
*/


/* ? Estilos del Login */

.login div .verOcultar {
    cursor: pointer;
}

#loginID {
    background: var(--fondoContainer);
    border-radius: var(--bordesRedondos);
    -webkit-border-radius: var(--bordesRedondos);
    -moz-border-radius: var(--bordesRedondos);
    -ms-border-radius: var(--bordesRedondos);
    -o-border-radius: var(--bordesRedondos);
    box-shadow: var(--sombra1);
    max-width: 500px;
    min-width: 300px;
    font-family: var(--fuenteTexto);
    padding: 45px;
    margin: auto;
    margin-top: 200px;
}

.inputLogin {
    width: 100%;
    height: 40px;
    margin: 15px;
    border-radius: var(--bordesRedondos);
    -webkit-border-radius: var(--bordesRedondos);
    -moz-border-radius: var(--bordesRedondos);
    -ms-border-radius: var(--bordesRedondos);
    -o-border-radius: var(--bordesRedondos);
    border: none;
    box-shadow: var(--sombra2);
    padding-left: 20px;
    color: var(--colorTextInput);
    font-style: italic;
}


/* ? Fin de login */


/* ? SELECTOR DE USUARIOS */
.btnsUsers{
    text-align: center;
    font-family: var(--fuenteTitulo);
    display: flex;
    justify-content: center;
    position: relative;
}
a{
    text-decoration: none;
}
.btn-cards-users{
    width: 320px;
    margin-top: 100px !important;
    margin: 30px;
    display: block;
    font-size: var(--fontSizeSubtitulos);
}
#btnUser1{
    color: var(--colorAdmin);
}
#btnUser2{
    color: var(--colorEnfermeria);
}
.imgusers   {
    transition: 500ms;
    width:300px;
    margin-bottom: 20px !important;
    height: 300px;
    box-shadow: var(--sombra1);
    padding: 25px;
    border-radius: var(--bordesRedondos);
    background-color: var(--fondoContainer);
    -webkit-border-radius: var(--bordesRedondos);
    -moz-border-radius: var(--bordesRedondos);
    -ms-border-radius: var(--bordesRedondos);
    -o-border-radius: var(--bordesRedondos);
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}
.btn-cards-users:hover #imgU1{
    background-color: #7C95E6 !important;
    width: 305px;
    height: 305px;
    border: solid 1px white;
}
.btn-cards-users:hover #txtU1{
    color: #0B0B8F;
    text-shadow: var(--sombraText);
}
.btn-cards-users:hover #txtU2{
    color: #680000;
    text-shadow: var(--sombraText);
}
.btn-cards-users:hover #imgU2{
    background-color: #FFA2A2;
    width: 305px;
    height: 305px;
    border: solid 1px white;
}

/* ? FIN de selector de usuarios */

.adminBTN {
    font-size: var(--fontSizeSubtitulos);
    color: var(--colorAdmin);
    font-family: var(--fuenteTexto);
    background-color: var(--fondoContainer);
    border-radius: var(--bordesRedondos);
    -webkit-border-radius: var(--bordesRedondos);
    -moz-border-radius: var(--bordesRedondos);
    -ms-border-radius: var(--bordesRedondos);
    -o-border-radius: var(--bordesRedondos);
}

.enferBTN {
    font-size: var(--fontSizeSubtitulos);
    font-family: var(--fuenteTexto);
    color: var(--colorEnfermeria);
    background-color: var(--fondoContainer);
    border-radius: var(--bordesRedondos);
    -webkit-border-radius: var(--bordesRedondos);
    -moz-border-radius: var(--bordesRedondos);
    -ms-border-radius: var(--bordesRedondos);
    -o-border-radius: var(--bordesRedondos);
}


/*Efectos Hover*/

.adminBTN .
/* ? Fin de SELECTOR DE USUARIOS */


/* Navbar de Enfermeria */

.navbar {}

.Titulonavbar {
    font-family: var(--fuenteNavbar) !important;
    font-size: var(--fontSizeNavbar);
}