/*FONDO EN GENERAL*/
body {
    background: rgb(170, 224, 249);
    background: -moz-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
    -webkit-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
}
/*HOME Tutor*/

.nav-seccion a{
    margin: 8px;
    margin-top: 20px;
}

.homeTutor textarea{
    border: none;
    width: 100%;
    resize: none;
}
.homeTutor .card-notice{
    border-radius: 20px;
    padding: 30px;
}

/* Enfermeria */
.btn-nv{
    width:200px;
}
    
.busqueda{
    width: 100%;
    max-width: 350px;
    padding: 4px;
    border-radius: 30px;
    border: none;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    padding-left: 10px;
}
.busqueda:hover{
    border: solid 1px rgba(0, 0, 0, 0.563);
}

::placeholder{
    font-family: Bootstrap-icons !important;
    font-style: italic !important;
    padding: 4px;
}

.btn-sh{
    border:  none;
    margin-left: -40px;
    background: none;
}

/* ? ANCHOR CSS DE ADMINISTRACIÓN */
/*navbar*/
.alinear-izquierda{
    float: left;
    }
    h1{
      text-align: center  ;
      font-size: 33px;
      font-family: Arial;
      color: #ffffff;
    }
     h2{
      text-align: center  ;
      font-size: 33px;
      font-family: Arial;
      color: #4e00ce;
     }
    .navbar{
      display: block;
      padding: 10px 30px;
    }
    .navbar a {
        text-decoration: none !important;
        color: #fff;
    }
    .nav{
      padding: 6px 30px;
      }
    li a{
        text-decoration: none;
        padding-right: 20px;
    }

    .delr{
        transition: 500ms;
        border-radius: 50%;
        color: red;
    }
    .delr:hover{
        color: white;
        background-color: red;


    }

    .btn-gestion-admin{
        font-size: 25px;
    }
    
    .subirenf{
        transition: 500ms;
        border-radius: 50%;
        color: rgb(254, 61, 219);
    }
    .subirenf:hover{
        color: white;
        background-color: rgb(254, 61, 219);

    }

    .editRegist{
        transition: 500ms;
        border-radius: 50%;
        color: #4e00ce;
    }
    .editRegist:hover{
        color: white;
        background-color: #4e00ce;

    }
    .textareaCountainer{
        border: none;
        width: 100%;
        resize: none;
    }

    /*CONFIGURACION DEL FOOTER*/
footer div div a {
    color: #1A78F3 !important;
    transition: all 800ms !important;
    }
footer div div a:hover{
    background-color: #1A78F3;
    color: white !important;
    }

    /*configuración de la tabla*/
table{
    border-radius: 20px;
    }
thead{
    text-align: center;
    }
.btn-res{
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 100px;
    margin: auto;
}
.btn-res p{
    margin: 0;
}
    /*CONTACTANOS*/
.contactanos-containers{
    border-radius: 30px;
    border: none;
    width:100% !important;
    }
.contactanos-containers form input{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    }
.contactanos-containers form textarea{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    }
.red-contactanos a{
    width: 100%;
}
.btn-message{
    width: 100%;
}

/*MENSAJES ADMIN*/
.mensaje{
    margin: 10px 10px;
}
.mensaje_contenedor {
    width: 100%;
    border-radius: 20px;
    background-color: #ffffff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.mensaje__datos{
    height: 100%;
}
.mensaje_datos_persons{
    background-color: #dddddd;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.mensaje_datos_persons p{
    margin-bottom: 0;
}
.mensaje_datos_body{
    padding: 0 15px;
}
.mensaje_datos_body p{
    font-style: italic;
}
.mensaje__textarea{
    width: 100%;
    border: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    resize: none;
    color: rgb(69, 69, 69);
    background-color: rgba(255, 255, 255, 0);
}
.mensaje_eliminar{
    border-radius: 0 0 20px 20px;
    width: 100%;
    background-color: red;
    border: none;
    font-size: 100%;
    color:white;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
}
@media (min-width: 768px){ 
  .mensaje_eliminar{
    font-size: 150%;
  }
 }
.mensaje_eliminar:hover{
    background-color: rgb(61, 1, 1);
    text-shadow: 0px 0 18px;
}
/*REGISTRAR ALUMNOS*/
.nuevoRegistro{
    width: 100%;
    max-width: 900px;
    display: block;
    margin: auto;
}
.nuevoRegistro h2{
    font-size: 1.6rem;
}
.nuevoRegistro select{
    text-align: center;
    background-color: #e3e3e3;
}
.contenedor__campos{
    width: 100%;
}
.nuevoRegistro__contenedores{
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 15px;
}
.input_nuevoRegistro{
    width: 100%;
    background-color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.contenedor__secundiario .input_nuevoRegistro{
    margin-bottom: 1rem;
}
.contenedor_principal{
    grid-row: 1 / 3;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.contenedor__secundiario{
    display: flex;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.contenedor__secundiario p{
    text-align: center;
    font-size: .7rem;
    font-style: italic;
    color: #3b3b3b;
}
.btn_nuevoRegistro{
    grid-column: -3 / -1;
    padding: 10px 0;
}

/* *NOTICIAS-ADMIN */
.noticia__contenedores{
    display: flex;
    gap: 1rem;
    height: 550px;
}
/* ? formulario */
.noticia__form{
    padding: 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.noticia__form .contenedor__campos{
    padding: 5px 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
}
.noticia__btn__registrar{
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    padding: 5px 0;
    width: 100%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.noticia__form textarea{
    color: black;
    background-color: white;
    border: none;
    resize: none;
    width: 100%;
}
/* ? Noticias Resientes */
.scrollbar{
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.admin_noticia{
    margin-bottom: 1rem;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
}
.noticia__header{
    padding: 10px;
    color: white;
}
.noticia__header h3{
    font-weight: 600;
}
.noticia__header p{
    margin-left: 10px;
    margin-bottom: 0;
}
.noticia__body{
    background-color: white;
    padding: 10px;
}
.noticia__botones__admin{
    background-color:black;
    border-radius: 0 0 .5rem .5rem ;
    padding: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-bottom: -5px;
    -webkit-border-radius: 0 0 .5rem .5rem ;
    -moz-border-radius: 0 0 .5rem .5rem ;
    -ms-border-radius: 0 0 .5rem .5rem ;
    -o-border-radius: 0 0 .5rem .5rem ;
}
.noticia__body textarea{
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 1rem;
    border-radius: 0 0 .5rem .5rem ;
}
.noticia__body .btn{
    width: 100%;
    background-color: #414141;
    color: white;
    margin-bottom: 10px;
}

/* ?noticia importante */
.noticia-importante{
    border: solid 1px green;
    background-color: rgb(0, 135, 0);
}
/* ?noticia advertencia */
.noticia-advertencia{
    border: solid 1px rgb(212, 155, 0);
    background-color: rgb(212, 155, 0);;
}
/* ?noticia informactiva */
.noticia-informativa{
    border: solid 1px rgb(0, 76, 206);
    background-color: rgb(0, 76, 206);
}

/* *ANCHOR login*/
.login{
    width: 350px;
    border-radius: 20px;
    margin-top: 20px !important;
    display: block;
    margin: auto;
}
.login input{
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 7px;
}
.login span{
    border-radius: 0px 15px 15px 0px !important;
    transition: 300ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.login span:hover{
    box-shadow: inset 0 0px 10px #0000002a;
}
#loginID{
    border-bottom: solid 1px #4e00ce;
}
.top{
    margin-top: 150px !important;
}
/*ANCHOR SELECCIONAR USUARIO*/
.contenedor-img{
    padding: 50px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    margin: auto;
}
.contenedor-img img{
    width: 100%;
}
.userTextSelec{
    text-align: center;
    margin-top: 20px;
}
.userTextSelec h3{
    text-decoration: none !important;
}

/*
tr{
    margin-bottom: 12rem;
}
*/