/*FONDO EN GENERAL*/
body {
    background: rgb(170, 224, 249);
    background: -moz-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    background: linear-gradient(180deg, rgba(170, 224, 249, 1) 0%, rgba(234, 209, 211, 1) 100%);
    filter: ;
    progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
    -webkit-filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#aae0f9", endColorstr="#ead1d3", GradientType=1);
}
/*HOME Tutor*/

.nav-seccion a{
    margin: 8px;
    margin-top: 20px;
}

.homeTutor textarea{
    border: none;
    width: 100%;
    resize: none;
}
.homeTutor .card-notice{
    border-radius: 20px;
    padding: 30px;
}

/* Enfermeria */
.btn-nv{
    width:200px;
}
    
.busqueda{
    width: 100%;
    max-width: 350px;
    padding: 4px;
    border-radius: 30px;
    border: none;
    font-family: Verdana, Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    padding-left: 10px;
}
.busqueda:hover{
    border: solid 1px rgba(0, 0, 0, 0.563);
}

::placeholder{
    font-family: Bootstrap-icons !important;
    font-style: italic !important;
    padding: 4px;
}

.btn-sh{
    border:  none;
    margin-left: -40px;
    background: none;
}

/* ? ANCHOR CSS DE ADMINISTRACIÓN */
/*navbar*/
.alinear-izquierda{
    float: left;
    }
    h1{
      text-align: center  ;
      font-size: 33px;
      font-family: Arial;
      color: #ffffff;
    }
     h2{
      text-align: center  ;
      font-size: 33px;
      font-family: Arial;
      color: #4e00ce;
     }
    .navbar{
      display: block;
      padding: 10px 30px;
    }
    .navbar a {
        text-decoration: none !important;
        color: #fff;
    }
    .nav{
      padding: 6px 30px;
      }
    li a{
        text-decoration: none;
        padding-right: 20px;
    }

    .delr{
        transition: 500ms;
        border-radius: 50%;
        color: red;
    }
    .delr:hover{
        color: white;
        background-color: red;


    }

    .btn-gestion-admin{
        font-size: 25px;
    }
    
    .subirenf{
        transition: 500ms;
        border-radius: 50%;
        color: rgb(254, 61, 219);
    }
    .subirenf:hover{
        color: white;
        background-color: rgb(254, 61, 219);

    }

    .editRegist{
        transition: 500ms;
        border-radius: 50%;
        color: #4e00ce;
    }
    .editRegist:hover{
        color: white;
        background-color: #4e00ce;

    }
    .textareaCountainer{
        border: none;
        width: 100%;
        resize: none;
    }

    /*CONFIGURACION DEL FOOTER*/
footer div div a {
    color: #1A78F3 !important;
    transition: all 800ms !important;
    }
footer div div a:hover{
    background-color: #1A78F3;
    color: white !important;
    }

    /*configuración de la tabla*/
table{
    border-radius: 20px;
    }
thead{
    text-align: center;
    }
.btn-res{
    display: flex;
    justify-content: center;
    gap: 5px;
    max-width: 100px;
    margin: auto;
}
.btn-res p{
    margin: 0;
}
    /*CONTACTANOS*/
.contactanos-containers{
    border-radius: 30px;
    border: none;
    width:100% !important;
    }
.contactanos-containers form input{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    }
.contactanos-containers form textarea{
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
    }
.red-contactanos a{
    width: 100%;
}
.btn-message{
    width: 100%;
}

/*MENSAJES ADMIN*/
.mensaje-ver{
    border-radius: 10px;
}
.container-roud{
    border-radius: 25px !important;
}
.footercard{
    margin-bottom: -20px !important;
}

/*REGISTRAR ALUMNOS*/

.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
  }  
.contact_form input, select{
    background-color: #fbfbfb; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #9292CD; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}
.contact_form label{
    display: block;
    float: center;
}
/* *ANCHOR login*/
.login{
    width: 350px;
    border-radius: 20px;
    margin-top: 20px !important;
    display: block;
    margin: auto;
}
.login input{
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 7px;
}
.login span{
    border-radius: 0px 15px 15px 0px !important;
    transition: 300ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.login span:hover{
    box-shadow: inset 0 0px 10px #0000002a;
}
#loginID{
    border-bottom: solid 1px #4e00ce;
}
.top{
    margin-top: 150px !important;
}
/*ANCHOR SELECCIONAR USUARIO*/
.contenedor-img{
    padding: 50px;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    margin: auto;
}
.contenedor-img img{
    width: 100%;
}
.userTextSelec{
    text-align: center;
    margin-top: 20px;
}
.userTextSelec h3{
    text-decoration: none !important;
}

/*
tr{
    margin-bottom: 12rem;
}
*/