<footer class="mainfooter bg-c7 p-3 mt-5" role="contentinfo">
    <div class="footer-middle">
      <div class="copy text-center">
        <h4>Redes Sociales</h4>
        <a href="https://www.facebook.com/ControlMediosCCP" class="btn"><i class="bi bi-facebook"></i> Centro Cultural de Petatlan</a>
        <hr>
        <p class="text-center">&copy; Copyright 2022 - Centro Cultural Petatlan.  All rights reserved.</p>
      </div>
  </div>
</footer>