<footer class="mainfooter bg-c7 p-3 mt-5" role="contentinfo">
    <div class="footer-middle">
      <div class="copy text-center">
        <h4>Redes Sociales</h4>
        <a href="https://www.facebook.com/ControlMediosCCP" class="btn"><i class="bi bi-facebook"></i> Centro Cultural de Petatlán</a>
        <hr>
        <p class="text-center">&copy; Copyright 2022 - Centro Cultural Petatlán.  All rights reserved.</p>
      </div>
      <hr>
      <div class="text-center">
        <h5>Desarrolladores:</h5>
        <br>
        <div>
          <p>Luis Daniel de la Rosa Lucrecia</p>
          <p>Saydel Gomez Manriquez</p>
          <p>Miguel Angel Chavez Avila</p>
          <p>Node Lugardo Bravo</p>
        </div>

      </div>
  </div>
</footer>
