<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/navbar') %> 

    <section class="contact_form sbr-1">
        <div class="formulario">
            <h2>Registrar Alumno</h2>
            <form action="" method="POST">
                <div>
                    <div>
                        <label><i class="bi bi-key"></i> Matricula</label>
                        <input required type="number" name="id_estudiante" id="id">
                    </div>
                    <div>
                        <label><i class="bi bi-file-person"></i> Nombre</label>
                        <input autocomplete="off" required type="text" name="nombre" id="">
                    </div>
                    <h2>Nivel Educativo</h2>
                    <div>
                        <label><i class="bi bi-view-list"></i> Sección</label>
                        <select name="seccion" required>
                            <option value="">--- Selecciona ---</option>
                            <option value="Educacion Inicial">Esducacion Inicial</option>
                            <option value="Preescolar">Preescolar</option>
                            <option value="Primaria">Primaria</option>
                            <option value="Secundaria">Secundaria</option>
                        </select>
                    </div>
                    <div>
                        <label><i class="bi bi-collection"></i> Grupo</label>
                        <input autocomplete="off" type="text" name="grupo" required id="">
                    </div>
                    <h2>Información De Tutor</h2>
                    <div>
                        <label><i class="bi bi-file-person"></i> Nombre del Tutor</label>
                        <input autocomplete="off" type="text" name="nombre_tutor" required id="">
                    </div>
                    <div>
                        <label><i class="bi bi-telephone"></i> Telefono del Tutor</label>
                        <input autocomplete="off" type="tell" maxlength="10" name="tel_tutor" required id="">
                    </div>
                    <div hidden>
                        <label>Enlace Boleta</label>
                        <input autocomplete="off" type="url" name="link_boleta" value="localhost:3000/html/sin-enlace.html">
                    </div>
                    <div>
                        <input type="hidden" value="1200" name="colegiatura">
                    </div>
                    <div>
                        <input type="submit" class="btn btn2 bg-c3" value="Guardar Registro">
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <%- include('../partials/footer.ejs') %> 
</body>



</html>