<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="" method="POST">

        <div>
            <div>
                <label>Matricula</label>
                <input type="number" name="id_estudiante" id="id">
            </div>
            <div>
                <label>Nombre</label>
                <input type="text" name="nombre" id="">
            </div>
            <div>
                <label>Sección</label>
                <select name="seccion">
                    <option value="">--- Selecciona ---</option>
                    <option value="Educacion Inicial">Esducacion Inicial</option>
                    <option value="Preescolar">Preescolar</option>
                    <option value="Primaria">Primaria</option>
                    <option value="Secundaria">Secundaria</option>
                </select>
            </div>
            <div>
                <label>Grupo</label>
                <input type="text" name="grupo" id="">
            </div>
            <div>
                <label>Nombre del Tutor</label>
                <input type="text" name="nombre_tutor" id="">
            </div>
            <div>
                <label>Telefono del Tutor</label>
                <input type="text" name="tel_tutor" id="">
            </div>
            <div>
                <label>Enlace Boleta</label>
                <input type="text" name="link_boleta" id="">
            </div>
            <div>
                <input type="hidden" value="1200" name="colegiatura">
            </div>
            <div>
                <input type="submit" value="Guardar Registro">
            </div>
        </div>

    </form>

</body>
</html>