<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %> 
   <link rel="stylesheet" type="text/css" href="css/ayuda.css">
<body>

<%- include('partials/navbar.ejs') %> 
<br>
  <section>
    <h1 class="sbr-text">¿Necesitas Ayuda?</h1>
  </section>
  <section>
    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
       
      </div>
      <div class="description">
        
        <h2>¿Te Preocupa la Segruidad del Sitio?</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
          
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(https://www.cronista.com/files/image/134/134181/5ff783753aaec.webp?oe=jpg)"></div>
        
      </div>
      <div class="description">
        
        <h2>Formatos de Pago</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
         
        </p>
      </div>
    </div>
  
  <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(https://s03.s3c.es/imag/_v0/770x420/5/3/8/490x_tarjeta-candado-teclado.jpg)"></div>
       
      </div>
      <div class="description">
  
        <h2>Segruridad de Pagos</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
          
        </p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(https://empresas.blogthinkbig.com/wp-content/uploads/2019/11/Aprende-a-defenderte-de-los-ciberdelicuentes-con-estas-herramientas-de-seguridad-inform%C3%A1tica.jpg?w=800)"></div>
        
      </div>
      <div class="description">
      
        <h2>¿Tienes Problemas?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
         
        </p>
      </div>
    </div>
  
  <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
        
      </div>
      <div class="description">
      
        <h2>Sigue Nuestros Horarios de Servicios</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad eum dolorum architecto obcaecati enim dicta praesentium, quam nobis! Neque ad aliquam facilis numquam. Veritatis, sit.</p>
        <p class="read-more">
         
        </p>
      </div>
    </div>
  </section>

<%- include('../partials/footer.ejs') %> 
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</html>