<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %> 
   <link rel="stylesheet" type="text/css" href="css/ayuda.css">
<body>

<%- include('partials/navbar.ejs') %> 
<br>
  <section>
    <h1 class="sbr-text">¿Necesitas Ayuda?</h1>
  </section>
  <section>
    <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-1.jpg)"></div>
       
      </div>
      <div class="description">
        <h2>¿Te Preocupa la Segruidad del Sitio?</h2>
        <p> No te preocupes, la seguridad de datos para nosotros es importante. Por lo que contamos con un sistema de almacenamiento seguro para la protección de tu información..</p>
        <p>
          Se cuenta con Certificado SSL, pero… ¿Qué es un certificado SSL? Los certificados SSL (Secure Sockets Layer o «capa de sockets seguros»), a veces denominados «certificados digitales», se utilizan para establecer una conexión cifrada entre un navegador o el ordenador de un usuario y un servidor o un sitio web. Por lo tanto, puedes estar seguro de que la información estará segura.
        </p>
      </div>
    </div>
<div class="bg-c7 alt blog-card">
  <div class=" p-4">
    <h2>Formatos de Pago</h2>
    <p>Ahora puedes realizar tus pagos desde la comodidad de tu hogar, claro que pueden ser realizados desde nuestras oficinas en el Centro Cultural, pero siempre es más cómodo hacerlo desde casa por medio de tu tarjeta de crédito o débito; incluso te ofrecemos la posibilidad de pagar en OXXO. Los pagos se realizan por medio de la Pasarela de Pago de Stripe (Para más información acerca de Stripe puedes visitar su <a href="https://stripe.com/mx">Página Oficial</a>).</p>
    <p>En el momento que realizas el pago, la base de datos actualiza la información para que puedas observar que realizaste el pago, pero siempre es importante guardar el comprobante de esté para aclaraciones y confusiones.</p>
    <p>En caso de realizar algún pago y no se encuentre reflejado en el sistema puedes mostrar el comprobante en finanzas del Centro Cultural de Petatlán. Esto puede llegar a ocurrir con más normalidad por medio de pagos en OXXO por lo que es recomendable hacerlo con tarjeta. En caso de algún problema puedes mandarnos tu comprobante por Whatsapp o Facebook.</p>
    <p>En caso de no a ver solucionado tu problema puedes acudir a nuestras oficinas o escribirnos en <a href="/contactanos"<b>Contactanos</b></a>.</p>
  </div>

</div>

  <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(https://s03.s3c.es/imag/_v0/770x420/5/3/8/490x_tarjeta-candado-teclado.jpg)"></div>
       
      </div>
      <div class="description">
  
        <h2>Segruridad de Pagos</h2>
        <p> Realizar pagos por medio de internet aveces suele dar miedo, pero no te preocupes nosotros cuidamos tu información. Tus datos personales como tarjeta no se guardarán en nuestros servidores sin tu consentimiento. El sistema se encuentra protegido por las <a href="https://stripe.com/en-mx/privacy">Politicas de Privacidad de Stripe</a>...</p>
        <p class="read-more">
          
        </p>
      </div>
    </div>

  
  <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(https://storage.googleapis.com/chydlx/codepen/blog-cards/image-2.jpg)"></div>
        
      </div>
      <div class="description">
      
        <h2>¿En que dispositivos puedo usar este Sitio?</h2>
        <p>Lo puedes usar en todas las plataformas disponibles, como pueden ser tabletas, teléfonos, computadoras. Incluso puedes crear un acceso directo en estos para tener la información más accesible a ti.</p>
        <p>El sistema fue realizado para ser fácil de usar en todo momento. Pero en caso de problemas puedes revisar el Manual de Usuario para Tutores.</p>
        <p class="read-more">
         
        </p>
      </div>
    </div>
  </section>

<%- include('../partials/footer.ejs') %> 
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>

</html>