<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pago Realizado</title>
</head>
<body>  
    <style>
        body{
            background: rgb(156, 0, 0) !important;
            display: flex;
            justify-content: center;
        }
        main{
            width: 100%;
            margin-top: 40%;
            max-width: 500px;
            background-color: rgb(244, 244, 244);
            padding: 10px;
            border-radius: 0px;
        }
        @media (min-width:768px){
            main{
                margin-top: 15%;
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0 0 18px rgba(0, 0, 0, 0.300);
            }
        }
        h1{
            text-align: center;
            color: #242424;
        }
        p, a {
            line-height: 1.5;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
        a{
            display: block;
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            padding: 5px 0;
            border-radius: 10px;
            transition: 300ms all;
            background-color: rgb(151, 151, 151);
        }
        a:hover{
            background-color: rgb(255, 0, 0);
            box-shadow: rgba(255, 72, 72, 0.438) 0 5px 5px;
        }
        </style>
        
        <main>
            <h1>¡Error al Pagar!</h1>
            <hr>
            <section>
                <p>Debido a un error inesperado el pago no se pudo realizar, intentalo nuevamente o vuelve más tarde. Gracias</p>
                <a href="/">Regresar a Registros</a>
            </section>
        </main>

</body>
</html>