<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>Pago Realizado</title>
</head>
<body>
    
    <style>
        body{
            background: rgb(249, 190, 28) !important;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            line-height: 2;
        }
        
        main{
            display: block;
            margin: auto;
            width: 100%;
            max-width: 500px;
            background-color: rgb(244, 244, 244);
            padding: 10px;
            border-radius: 0px;
        }
        @media (min-width:768px){
            div{
            margin-top: 15%;
            }
            main{      
                padding: 20px;
                border-radius: 20px;
                box-shadow: 0 0 18px rgba(0, 0, 0, 0.300);
            }
        }
        h2{
            text-align: center;
            color: #242424;
        }
        p, button {
            line-height: 1.5;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;
        }
        button{
            border: none;
            display: block;
            width: 100%;
            text-align: center;
            text-decoration: none;
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-size: 1.5rem;
            padding: 5px 0;
            border-radius: 10px;
            transition: 300ms all;
            background-color: rgb(151, 151, 151);
        }
        button:hover{
            background-color: rgb(255, 195, 43);
            box-shadow: rgba(248, 210, 114, 0.438) 0 5px 5px;
        }
        h1{
            text-align: center;
        }
        </style>
        <div>
        <h1>¡Pago realizado con Exito!</h1>
        <main>

            <section>
                <h2>¡Importante Leer!</h2>
                <p>Es importante guardar tu comprobante, el cual llegara al correo electronico ingresado. Si realizaste un pago por OXXO es importante guardar el ticket para alguna reclamación o problema.</p>
                <form action="" method="POST" style="text-align: center;">
                    <input type="hidden" name="colegiatura" value="2">
                    <h2 style="color:red;margin-bottom: 0;">¡¡Descarga tu comprobante!!</h2>
                    <a href="/docs/comprobantePDF.pdf" style="text-decoration: none;font-size: 1.5rem;" download="/docs/comprobantePDF.pdf (comprobante).pdf" required><i class="bi bi-download"></i> Click aquí para descargar</a>
                    <button>Regresar a Registros</button>
                </form>
            </section>
        </main>
        </div>

</body>
</html>